body {
  background: #000000;
}
div#section {
  background-color: #060606;
  color: #CACACA;
  border-color: #666666;
  border-style: outset;
  border-width: 3px;
}
div#section div#title {
  background-color: #383838;
  color: #FAFAFA;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
}
div#section div#body {
  background-color: #1B1B1B;
  color: #CACACA;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
}
