body {
  background: #000000;
}
ul#navigation {
  background-color: #060606;
  color: #CACACA;
  border-color: #666666;
  border-style: outset;
  border-width: 3px;
  z-index: 10;
  position: fixed;
  left:0;
  top:0;
  width: 125px;
}
ul#controls {
  background-color: #060606;
  color: #CACACA;
  border-color: #666666;
  border-style: outset;
  border-width: 3px;
  z-index: 10;
  position: fixed;
  right:0;
  top:0;
  width: 125px;
}
ul#controls li {
  background-color: #060606;
  border-color: #CFCFCF;
  border-style:groove;
  border-width: 2px;
  color: lime;
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul#controls li:hover {
  background-color: #3C3C3C;
  border-color: #CFCFCF;
  border-style:groove;
  border-width: 2px;
  color: blue;
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
div#section {
  background-color: #060606;
  color: #CACACA;
  border-color: #666666;
  border-style: outset;
  border-width: 3px;
  position:absolute;
  left: 180px;
  top: 20px;
  width: calc(100% - 360px)
}
div#section div#title {
  background-color: #383838;
  color: #FAFAFA;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
}
div#section div#body {
  background-color: #1B1B1B;
  color: #CACACA;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
}
